.flex-fill {
    flex: 1;
}

md-toolbar a,
md-toolbar a:visited {
    color: white;
}

md-card {
    margin-top: 10px;
}

.beacon-setup-card {
  display: flex;
  flex-direction: column;
}

.beacon-type-radio {
  display: inline-flex;
  flex-direction: column;
}

.radio-item {
  margin-bottom: 12px;
}

.device-console-card {
  display: flex;
  flex-direction: column;
}
