<md-toolbar color="primary">
  ng-beacon Configuration Utility
  <div class="flex-fill"></div>
  <a href="https://github.com/urish/ng-beacon-app" title="View on Github" target="_blank">
    <md-icon>code</md-icon>
  </a>
</md-toolbar>

<md-card *ngIf="!connected">
  <md-card-title>Connect</md-card-title>
  <button md-raised-button (click)="connect()" [disabled]="connecting">
    <md-icon>bluetooth_searching</md-icon> Connect to ng-beacon
  </button>
</md-card>

<div *ngIf="connected">
  <md-card>
    <md-card-title><md-icon>done</md-icon> Connected</md-card-title>
  
    <md-card-content>
      <p>Device: {{deviceName}}</p>
      <p>Version: {{beaconVersion}}</p>
      <p>Serial: {{beaconSerialNum}}</p>
    </md-card-content>

    <button md-button (click)="readTemperature()">Read Temperature</button>
    <button md-raised-button (click)="disconnect()">Disconnect</button>
  </md-card>

  <md-card>
    <md-card-title>Configure Beacon</md-card-title>

    <md-card-content>
      <div>
        <md-input-container>
          <input md-input placeholder="Beacon name" [(ngModel)]="beaconName" maxlength="10" />
        </md-input-container>
        <md-input-container>
          <input md-input placeholder="Physical Web URL" [(ngModel)]="beaconUrl" maxlength="20" />
        </md-input-container>
      </div>

      <button md-button (click)="reset()">Reset</button>
      <button md-button (click)="uploadEddystone()">Eddystone Beacon</button>
      <button md-button (click)="uploadTemperature()">Temperature Sensor</button>
      <button md-button (click)="uploadIBeacon()">iBeacon</button>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Debug Log</md-card-title>
    <md-card-content>
      <pre>{{debugLog}}</pre>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="clearLog()"><md-icon>delete</md-icon></button>
    </md-card-actions>
  </md-card>
</div>
