<md-toolbar color="primary">
  ng-beacon Configuration Utility
  <div class="flex-fill"></div>
  <a href="https://github.com/urish/ng-beacon-app" title="View on Github" target="_blank">
    <md-icon>code</md-icon>
  </a>
</md-toolbar>

<md-card *ngIf="!connected">
  <md-card-title>Connect</md-card-title>
  <button md-raised-button (click)="connect()" [disabled]="connecting">
    <md-icon>bluetooth_searching</md-icon> Connect to ng-beacon
  </button>
</md-card>

<div *ngIf="connected">
  <md-card>
    <md-card-title>
      <md-icon>done</md-icon> Connected</md-card-title>

    <md-card-content>
      <p>Device: {{deviceName}}</p>
      <p>Version: {{beaconVersion}}</p>
      <p>Battery: {{batteryVoltage|number:'1.2-2'}}V</p>
      <p>Uptime: {{beaconUptime|amDuration:'seconds'}}</p>
    </md-card-content>

    <button md-raised-button (click)="disconnect()">Disconnect</button>
    <button md-button (click)="toggleLed()">Toggle LED</button>
  </md-card>

  <md-card>
    <md-card-title>Configure Beacon</md-card-title>

    <md-card-content class="beacon-setup-card">
      <md-input-container>
        <input mdInput placeholder="Beacon name" [(ngModel)]="beaconName" maxlength="10" />
      </md-input-container>
      <md-radio-group [(ngModel)]="beaconType" class="beacon-type-radio">
        <md-radio-button value="eddystone" class="radio-item">Physical Web (Eddystone URL)</md-radio-button>
        <md-radio-button value="ibeacon" class="radio-item">iBeacon</md-radio-button>
      </md-radio-group>
      <md-input-container *ngIf="beaconType == 'eddystone'">
        <input mdInput placeholder="Advertised URL" [(ngModel)]="beaconUrl" maxlength="20" />
      </md-input-container>

      <button md-raised-button color="accent" (click)="configureBeacon()">Configure</button>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Device Console</md-card-title>
    <md-card-content class="device-console-card">
      <pre>{{debugLog}}</pre>
      <div>
        <button md-icon-button (click)="clearLog()"><md-icon>delete</md-icon></button>
      </div>
      <md-input-container>
        <input mdInput [(ngModel)]="commandLine" (keydown)="commandInputKeydown($event)" />
        <button mdSuffix md-icon-button (click)="sendCommand()">
        <md-icon>send</md-icon>
      </button>
      </md-input-container>
    </md-card-content>
  </md-card>
</div>
